@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #3c81f5;
  background-image: linear-gradient(19deg, #61a4f9 0%, #eff6ff 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

/* Add any necessary styles here for CaptureMedia component */
video {
  width: 100%;
  max-width: 600px;
  border: 2px solid #000;
  border-radius: 8px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

